@page "/"
@using DevKimchi.App.Proxies
@inject ProxyClient Proxy

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

@if (string.IsNullOrWhiteSpace(this.Greeting))
{
    <p>Loading...</p>
}
else
{
    <p style="color: red;">@this.Greeting</p>
}

@if (string.IsNullOrWhiteSpace(this.Products))
{
    <p>Loading...</p>
}
else
{
    <p style="color: blue;">@this.Products</p>
}

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    protected string? Greeting { get; set; }
    protected string? Products { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var greetings = await this.Proxy.PingAsync("ASWA Autopilot").ConfigureAwait(false);
        this.Greeting = greetings.Message;

        var products = await this.Proxy.GetProductsByCategoryAsync("pet").ConfigureAwait(false);
        this.Products = products.Message;
    }
}